body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #181818;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #242325;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-col1 {
  padding-left: 20px;
  font-size: 30px;
  color: white;
}

.navbar-col1 a {
  text-decoration: none;
  color: white;
}

.navbar-col2 {
  padding-right: 20px;
  color: white;
}

.navbar-button {
  display: inline-block;
  background-color: rgb(70,70,70);
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  border-style: none;
}

.navbar-button:hover {
  background-color: rgb(90,90,90);
  cursor: pointer;
}

#blockchain-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: white;
  background: darkgreen;
  margin: 20px;
  height: 300px;
}

.blockchain-block {
  border: black;
  border-style: solid;
  background-color: blue;
  height: 100px;
  width: 100px;
}

.disabledButton{
  display: inline-block;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  border-style: none;
  background-color:#8c7373;
}

#information-messages{
  padding-left: 20px;
}